<?xml version="0.0" ?>
<robot name="mug00">
  <link name="mug_link">
    <inertial>
      <mass value="0.3"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="mug.stl"/>
      </geometry>
      <material name="blue">
        <color rgba="0.35 0.35 0.35 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="mug.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
